name: myfirst_project
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload site files
        uses: actions/upload-pages-artifact@v3
        with:
          path: .   # root directory (where your HTML files are)

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4